<div class="category-carousel owl-carousel owl-theme">
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
	<div class="item">
		<div class="category-item">
			<img src="assets/images/category.png" alt="">
			<h5>محمصات</h5>
		</div>
	</div>
</div>