<section class="common-section">
	<div class="section-content">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="counter-item">
						<img src="assets/images/users.png" alt="">
						<h4>مستخدم في مصر</h4>
						<p>25000</p>
					</div>
				</div>
				<div class="col-4">
					<div class="counter-item">
						<img src="assets/images/orders.png" alt="">
						<h4>طلب ناجح</h4>
						<p>25000</p>
					</div>
				</div>
				<div class="col-4">
					<div class="counter-item">
						<img src="assets/images/areas.png" alt="">
						<h4>محافظات</h4>
						<p>7</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>