<!-- <div  id="hero">

		<div class="slide-item">
			<img src="assets/images/slide-01.png" alt="">
		
		<div class="slide-content">
			<p>لدينا فريق على أعلى مستوى من الإحترافية والمهنية لإيجاد الطرق السهلة والبسيطة التي توفر بشكل غير تقليدي الاحتياجات اليومية بطريقة سهلة وآمنة وسريعة</p>
		</div>		
		</div>

		<div class="slide-item">
			<img src="assets/images/slide-01.png" alt="">
		
		<div class="slide-content">
			<p>لدينا فريق على أعلى مستوى من الإحترافية والمهنية لإيجاد الطرق السهلة والبسيطة التي توفر بشكل غير تقليدي الاحتياجات اليومية بطريقة سهلة وآمنة وسريعة</p>
		</div>		
		</div>

	
</div>  -->

<section id="hero">
	<div class="main-slider owl-carousel owl-theme">
	
		<div class="slide-item">
			<img src="assets/images/slide-01.png" alt="">
		
		<div class="slide-content">
			<p>لدينا فريق على أعلى مستوى من الإحترافية والمهنية لإيجاد الطرق السهلة والبسيطة التي توفر بشكل غير تقليدي الاحتياجات اليومية بطريقة سهلة وآمنة وسريعة</p>
		</div>		
		</div>
		<div class="slide-item">
			<img src="assets/images/slide-02.png" alt="">
		
		<div class="slide-content">
			<p>لدينا فريق على أعلى مستوى من الإحترافية والمهنية لإيجاد الطرق السهلة والبسيطة التي توفر بشكل غير تقليدي الاحتياجات اليومية بطريقة سهلة وآمنة وسريعة</p>
		</div>		
		</div>
		<div class="slide-item">
			<img src="assets/images/slide-01.png" alt="">
		
		<div class="slide-content">
			<p>لدينا فريق على أعلى مستوى من الإحترافية والمهنية لإيجاد الطرق السهلة والبسيطة التي توفر بشكل غير تقليدي الاحتياجات اليومية بطريقة سهلة وآمنة وسريعة</p>
		</div>		
		</div>
	</div>
</section>


