<section class="common-section">
	<div class="section-content">
		<div class="container">
			<div class="app-download">
				<div class="app-bags">
					<img src="assets/images/app-bags.png" alt="">
				</div>
				<div class="app-mockup">
					<img src="assets/images/app-mockup.png" alt="">
				</div>
				<div class="app-content">
					<div class="app-promo">
						<h2>أطلب</h2>
						<span> اللي بتتمنــاه</span>
					</div>
					<div class="app-text">
						<h3>حمل التطبيق الآن</h2>
							<p class="app-slogan">أسهل .. أسرع .. أضمن</p>
							<p class="app-terms">تطبق الشروط والأحكام</p>
					</div>
					<div class="app-stores">
						<a class="store-link" href="http://apple.com" target="_blank">
							<img src="assets/images/app-store.png">
						</a>
						<a class="store-link" href="http://google.com" target="_blank">
							<img src="assets/images/google-play.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>