<section class="common-section" style="background-image: url(assets/images/gift-bg.png);">
	<div class="section-content">
		<div class="container">
			<div class="gift-text">
				<h3>تأكد من كود الهدية من سُنقر ؟</h3>
				<p>عند استخدامك للهدية لا يمكن اعادة استخدامها مرة اخرى</p>
			</div>
		
				<form class="gift-form" method="post">
				
					<input class="form-control" type="text" name="" id="">
					<input class="btn" type="button" value="تأكد من الكود">
			
				</form>

		</div>
	</div>
</section>