<section class="common-section">
	<div class="container">
		<header class="section-header text-center">
						<div class="section-title">
							<h2>إنضم لينا</h2>
							<div class="divider">
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
		</header>
	</div>
	<div class="section-content">
		<div class="container">
			<div class="join-cards">
				<div class="join-col">
					<div class="join-card">
						<img src="assets/images/captain.png" alt="">
						<h3>كن طيار </h3>
						<p>كن طيار وابدأ مرحلة جديدة من تحقيق الذات والأرباح معنا ، الأمر لا يحتاج إلى كثير من الجهد المبذول</p>
						<a href="#">إنضم الآن</a>
					</div>
				</div>
				<div class="join-col">
					<div class="join-card">
						<img src="assets/images/captain.png" alt="">
						<h3>كن طيار </h3>
						<p>كن طيار وابدأ مرحلة جديدة من تحقيق الذات والأرباح معنا ، الأمر لا يحتاج إلى كثير من الجهد المبذول</p>
						<a href="#">إنضم الآن</a>
					</div>
				</div>



	
				
			</div>

		</div>
	</div>
</section>