		<div class="store-section">
				<div class="store-data">



					<p class="store-expert">زا جود فيش هو مطعم في مِصر يقدم أكلات من المطبخ الشاورما ويوصل إلى الإبراهيمية, مصطفي
						كامل و سان ستيفانو</p>
					<p class="store-text">من الأطباق الأكثر مبيعاً ساندوتش شاورما دجاج, بوكس شاورما - 12 قطعة, العرض الخامس و
						العرض الأول، لكن لديهم خيارات أخرى مثل الساندوتشات, بوكسات الشاورما, وجبات اللمة و وجبات اللمة</p>




					<div class="row">
						<div class="col">
							<h3><i class="fa fa-clock-o" aria-hidden="true"></i>قائمه الطعام</h3>
							<ul class="info-list">
								<li>
									<span class="week-day">السبت</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
								<li>
									<span class="week-day">الأحد</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
								<li>
									<span class="week-day">الإثنين</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
								<li>
									<span class="week-day">الثلاثاء</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
								<li>
									<span class="week-day">الأربعاء</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
								<li>
									<span class="week-day">الخميس</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
								<li>
									<span class="week-day">الجمعه</span>
									<span class="day-time">0020123456789 - 0020123456789</span>
								</li>
							</ul>

						</div>
						<div class="col">
							<h3><i class="fa fa-map-marker" aria-hidden="true"></i>العناوين</h3>
							<ul class="info-list no-padding ">
								<li>
									<span class="info-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
									<span class="info-text">47 شارع احمد فهمى - سموحه - الإسكندرية</span>
								</li>
								<li>
									<span class="info-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
									<span class="info-text">يبعد 130 كم عن موقعك الحالي</span>
								</li>
							</ul>
							<h3 class="no-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>الهواتف</h3>
							<ul class="info-list no-padding ">
								<li>
									<span class="info-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
									<span class="info-text">0020123456789</span>
								</li>
								<li>
									<span class="info-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
									<span class="info-text">0020123456789</span>
								</li>
								<li>
									<span class="info-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
									<span class="info-text">0020123456789</span>
								</li>
								<li>
									<span class="info-icon"><i class="fa fa-car" aria-hidden="true"></i></span>
									<span class="info-text">سعر التوصيل 10 ج.م , وقت التوصيل 10:50 دقيقة</span>
								</li>
							</ul>

						</div>

					</div>



				</div>
			</div>