<div class="store-section">
	<div class="offers-list">
		<div class="offer-item">
			<div class="offer-img">
				<img src="assets/images/offer-01.png" alt="">
			</div>
			<div class="offer-content">
				<h4 class="offer-title">عرض العيله كومبو لارج</h4>
				<p class="offer-info">ساندوتش دجاج بالكاري + نص فرخه مشوية + 4 فتة شاورما + 2 طبق رز + سلطة + لتر كولا +
					صوص باربيكيو</p>
			</div>
			<p class="offer-price">250 جنية </p>
		</div>
		<div class="offer-item">
			<div class="offer-img">
				<img src="assets/images/offer-01.png" alt="">
			</div>
			<div class="offer-content">
				<h4 class="offer-title">عرض العيله كومبو لارج</h4>
				<p class="offer-info">ساندوتش دجاج بالكاري + نص فرخه مشوية + 4 فتة شاورما + 2 طبق رز + سلطة + لتر كولا +
					صوص باربيكيو</p>
			</div>
			<p class="offer-price">250 جنية </p>
		</div>
	</div>
</div>