<div class="product-carousel owl-carousel owl-theme">
    <div class="item">
				<div class="product-item">
				<div class="product-content">
					<div class="store-img">
						<img src="assets/images/product-01.png" alt="">
						<h5>ك سمك بلطى</h5>
					</div>
					<div class="store-info">
						<p>45 ج.م </p>
					</div>
				</div>
				<a class="btn btn-add" href="">إضافة <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
			</div>
		</div>
    <div class="item">
				<div class="product-item">
				<div class="product-content">
					<div class="store-img">
						<img src="assets/images/product-01.png" alt="">
						<h5>ك سمك بلطى</h5>
					</div>
					<div class="store-info">
						<p>45 ج.م </p>
					</div>
				</div>
				<a class="btn btn-add" href="">إضافة <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
			</div>
		</div>
    <div class="item">
				<div class="product-item">
				<div class="product-content">
					<div class="store-img">
						<img src="assets/images/product-01.png" alt="">
						<h5>ك سمك بلطى</h5>
					</div>
					<div class="store-info">
						<p>45 ج.م </p>
					</div>
				</div>
				<a class="btn btn-add" href="">إضافة <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
			</div>
		</div>
    <div class="item">
				<div class="product-item">
				<div class="product-content">
					<div class="store-img">
						<img src="assets/images/product-01.png" alt="">
						<h5>ك سمك بلطى</h5>
					</div>
					<div class="store-info">
						<p>45 ج.م </p>
					</div>
				</div>
				<a class="btn btn-add" href="">إضافة <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
			</div>
		</div>
    <div class="item">
				<div class="product-item">
				<div class="product-content">
					<div class="store-img">
						<img src="assets/images/product-01.png" alt="">
						<h5>ك سمك بلطى</h5>
					</div>
					<div class="store-info">
						<p>45 ج.م </p>
					</div>
				</div>
				<a class="btn btn-add" href="">إضافة <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
			</div>
		</div>
    <div class="item">
				<div class="product-item">
				<div class="product-content">
					<div class="store-img">
						<img src="assets/images/product-01.png" alt="">
						<h5>ك سمك بلطى</h5>
					</div>
					<div class="store-info">
						<p>45 ج.م </p>
					</div>
				</div>
				<a class="btn btn-add" href="">إضافة <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
			</div>
		</div>

</div>

