<div class="page-header flex-center-y">
	<div class="container">

		<div class="store-profile">
			<div class="profile-image">
				<img src="assets/images/category-image.png" alt="">
			</div>
			<h1>زا جود فيش</h1>
			<p>محل أسماك</p>

			<ul class="store-info">
				<li>
					<i class="fa fa-circle" aria-hidden="true"></i>
					<span>متاح الآن</span>
				</li>
				<li>
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<span>يبعد 2 كم </span>
				</li>
			</ul>
			<div class="rating-star">
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star checked"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
			</div>
		</div>
	</div>
</div>