	<div class="store-section">
				<h4 class="rating-title">حظى هذا المطعم على تقييم 3.5 حسب 142 تقييم من مستخدمي طلبات
					<div class="rating-star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
				</h4>
				<div class="store-rating">

					<div class="total-rating">
						<div class="rating-type">
							<div class="rating-star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<p>التغليف وجودة المنتج</p>
						</div>
						<div class="rating-type">
							<div class="rating-star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
							</div>
							<p>وقت التوصيل</p>
						</div>
						<div class="rating-type">
							<div class="rating-star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<p>القيمه مقابل السعر</p>
						</div>




					</div>
					<h4>آراء عملاء ( زا جود فيش )</h4>

					<div class="users-rating">

						<div class="rating-item">
							<h5 class="rating-user">أحمد محمد</h5>
							<div class="rating-star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<p class="rating-text">جميل جدا والاكل وصل بسرعه مش آخر تجربة</p>
							<div class="rating-date">
								<span class="date-day">15/03/2020</span>
								<span class="date-time">03:30 Pm</span>
							</div>
						</div>
						<div class="rating-item">
							<h5 class="rating-user">أحمد محمد</h5>
							<div class="rating-star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<p class="rating-text">جميل جدا والاكل وصل بسرعه مش آخر تجربة</p>
							<div class="rating-date">
								<span class="date-day">15/03/2020</span>
								<span class="date-time">03:30 Pm</span>
							</div>
						</div>
						<div class="rating-item">
							<h5 class="rating-user">أحمد محمد</h5>
							<div class="rating-star">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<p class="rating-text">جميل جدا والاكل وصل بسرعه مش آخر تجربة</p>
							<div class="rating-date">
								<span class="date-day">15/03/2020</span>
								<span class="date-time">03:30 Pm</span>
							</div>
						</div>
					</div>
				</div>
			</div>
