<div class="container">
	<div class="search-wrap">
		<h3>إختار منطقتك أولاً</h3>
		<form class="search-form" method="post">
			<input class="form-control" type="text" name="" placeholder="إبحث عن مطعم او مكان او منطقه او علم معروف " id="">
			<input class="btn" type="button" value="بحث">
		</form>
		<button class="btn btn-filter">
			<i class="fa fa-sliders" aria-hidden="true"></i>
		</button>
	</div>
</div>