#hero{
	// position: relative;
	height: 600px;

	&::after{
		content: "";
		position: absolute;
		height: 820px;
		width: 960px;
		border-radius: 50%;
		background: #E9ECEF;
		top:-180px;
		right:-80px;
		z-index: -1;
	}
}

.slide-item{
	text-align: center;
	img{
		margin-bottom: 50px;
	}
	.slide-content{
		p{
			font-size: 24px;
			line-height: 1.5em;
			text-align: center;
			font-weight: 300;
			max-width: 725px;
			margin-left: auto;
			margin-right: auto;

		}
	}

}


#slider {
	.slide-item {
		position: relative;

		figcaption {
			height: 40px;
			line-height: 40px;
			overflow: hidden;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;
			background: rgba(0, 0, 0, 0.5);
			color: #ffffff;
			padding-left: 20px;
			font-size: 16px;
		}
	}
}

.owl-carousel {
	.owl-item {
		img {
			width: auto;
			display: inline;
		}
	}
}

.main-slider {
	.owl-dots {
		span {
			width: 12px;
			height: 12px;
			background-color: #003566 !important;
		}

		.owl-dot {
			&:focus {
				border: none;
				outline: none;
			}
		}

		.active {
			span {
				background-color: #FFC300 !important;

				filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));

			}
		}
	}

}
