.img-right{
    float: right;
    
}
.img-left{
    float: left
    
}

.img-120{
    position: relative;
    right: -120px;
}


.row-140{
    margin-right: -140px;
    margin-left: -140px;
}

.img-icon{
   margin-left: -25px;
   margin-bottom: 10px;
    
}
