{% extends "layout.njk" %}

{% block content %}
	{% include "home/section-02.njk" %}
	<div class="container">
		<div class="about-cards">
			<div class="content-card">
				<img src="assets/images/captain.png" alt="">
				<h3>الرؤية</h3>
				<p>توصيل الأحتياجات اليومية بطريقة سهلة وسريعة ومضمونة</p>
			</div>
			<div class="content-card">
				<img src="assets/images/captain.png" alt="">
				<h3>الرسالة</h3>
				<p>خلق شراكه ناجحة مع عملائنا وذلك لتجسيد رسالة رائدة فى مجال توصيل الطلبات ومع شركئنا لتسهيل توصيل منتجهم</p>
			</div>
			<div class="content-card">
				<img src="assets/images/captain.png" alt="">
				<h3>الأهداف</h3>
				<p>الأرتقاء بمستوى منظومة توصيل الطلبات</p>
			</div>
		</div>
	</div>

	
				
{% endblock %}    


