{% extends "layout.njk" %}

{% block content %}
<section class="common-section">
	<div class="section-content">
		<div class="container">
			<div class="section-title">
				<h2>سلة مشترياتك</h2>
				<div class="divider">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="cart-content">

				<a href="#" class="btn btn-main btn-all">تنفيذ الكل</a>
				<div class="cart-item">
					<h4 class="item-store">صيدلية الحياة</h4>
					<p class="item-info">كمامة + بيتادين + قطن + شاش + معجون اسنان + مضاد حيوي+ معجون اسنان + مضاد حيوي</p>
					<span class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>شارع 20 أحمد فهمي - ميامي - الإسكندرية</span>
					<div class="item-control">
						<a class="btn btn-main" href="#">تنفيذ الطلب</a>
						<a class="btn btn-close" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="cart-item">
					<h4 class="item-store">صيدلية الحياة</h4>
					<p class="item-info">كمامة + بيتادين + قطن + شاش + معجون اسنان + مضاد حيوي+ معجون اسنان + مضاد حيوي</p>
					<span class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>شارع 20 أحمد فهمي - ميامي - الإسكندرية</span>
					<div class="item-control">
						<a class="btn btn-main" href="#">تنفيذ الطلب</a>
						<a class="btn btn-close" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="cart-item">
					<h4 class="item-store">صيدلية الحياة</h4>
					<p class="item-info">كمامة + بيتادين + قطن + شاش + معجون اسنان + مضاد حيوي+ معجون اسنان + مضاد حيوي</p>
					<span class="item-area"><i class="fa fa-map-marker" aria-hidden="true"></i>شارع 20 أحمد فهمي - ميامي - الإسكندرية</span>
					<div class="item-control">
						<a class="btn btn-main" href="#">تنفيذ الطلب</a>
						<a class="btn btn-close" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}