{% extends "layout.njk" %}

{% block content %}
    {% include "home/section-01.njk" %}

    <div  class="container ">	</div>   
			{% include "home/section-02.njk" %}
			{% include "home/section-03.njk" %}
			{% include "home/section-04.njk" %}
			{% include "home/section-05.njk" %}
			{% include "home/section-06.njk" %}     
			{% include "home/section-07.njk" %}   
			
			  
{% endblock %}