{% extends "layout.njk" %}

{% block content %}
<div class="jobs-page">
	<div class="container">
		<div class="search-wrap">
			<h3>إبحث عن وظيفه</h3>
			<form class="search-form" method="post">
				<input class="form-control" type="text" name="" placeholder="إبحث عن إسم وظيفه معينة">
				<input class="btn" type="button" value="بحث">
			</form>

		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="jobs-filter">
					<h4>فلتر</h4>
					<div class="filter-list">
						<h4>تصنيف الوظيفة</h4>
						<label class="control control--checkbox">مالية
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">إدارية
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">معاملات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">منتجات
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">أشخاص
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">ماركتنج
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">تكنولوجيا
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">حقوق
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
					</div>
					<div class="filter-list">
						<h4>المكان</h4>
						<label class="control control--checkbox">القاهرة
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">الإسكندرية
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">الفيوم
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">كفرالشيخ
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">الإسماعيلية
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">كفرالشيخ
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
					</div>
					<div class="filter-list">
						<h4>نوع الوظيفة</h4>
						<label class="control control--checkbox">Full Time
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">Part Time
							<input type="checkbox" checked>
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">Internship
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">Permanent
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
						<label class="control control--checkbox">Fixed Team
							<input type="checkbox">
							<div class="control__indicator"></div>
						</label>
					</div>

					<button type="submit" class="btn btn-main">فرز</button>

				</div>
			</div>
			<div class="col-md-8">
				<div class="job-item">
					<h4>Specialist Talent Acquisition</h4>
					<p>Cairo - Masr Helwan Elzarae Street  - Palm Tower B   |   JR0008930	</p>
					<div class="job-date">
						<span class="post-on">تم النشر</span>
						<span class="post-day">15/03/2020</span>
					</div>
				</div>
				<div class="job-item">
					<h4>Specialist Talent Acquisition</h4>
					<p>Cairo - Masr Helwan Elzarae Street  - Palm Tower B   |   JR0008930	</p>
					<div class="job-date">
						<span class="post-on">تم النشر</span>
						<span class="post-day">15/03/2020</span>
					</div>
				</div>
				<div class="job-item">
					<h4>Specialist Talent Acquisition</h4>
					<p>Cairo - Masr Helwan Elzarae Street  - Palm Tower B   |   JR0008930	</p>
					<div class="job-date">
						<span class="post-on">تم النشر</span>
						<span class="post-day">15/03/2020</span>
					</div>
				</div>
				<div class="job-item">
					<h4>Specialist Talent Acquisition</h4>
					<p>Cairo - Masr Helwan Elzarae Street  - Palm Tower B   |   JR0008930	</p>
					<div class="job-date">
						<span class="post-on">تم النشر</span>
						<span class="post-day">15/03/2020</span>
					</div>
				</div>
				<div class="job-item">
					<h4>Specialist Talent Acquisition</h4>
					<p>Cairo - Masr Helwan Elzarae Street  - Palm Tower B   |   JR0008930	</p>
					<div class="job-date">
						<span class="post-on">تم النشر</span>
						<span class="post-day">15/03/2020</span>
					</div>
				</div>
			{% include "parts/pagination.njk" %}

			</div>
		</div>
	</div>
</div>
{% endblock %}