{% extends "layout.njk" %}

{% block content %}


<!-- Button trigger modal -->
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-01">
	Model #1
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-02">
	Model #2
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-03">
	Model #3
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-04">
	Model #4
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-05">
	Model #5
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-06">
	Model #6
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-07">
	Model #7
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-08">
	Model #8
</button>
<button type="button" class="btn btn-main" data-toggle="modal" data-target="#modal-09">
	Model #9
</button>

<!-- Modal -->
<div class="modal fade show" id="modal-01" tabindex="-1" role="dialog" aria-labelledby="modal-01" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				<p>برجاء اختيار منطقتك أولا لعرض قائمة الطعام المتاحة في منطقتك وإمكانية التوصيل</p>
			</div>
		</div>
	</div>
</div>


<div class="modal fade show" id="modal-02" tabindex="-1" role="dialog" aria-labelledby="modal-02" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				<p>برجاء اختيار منطقتك أولا لعرض قائمة الطعام المتاحة في منطقتك وإمكانية التوصيل</p>
			</div>
		</div>
	</div>
</div>



<div class="modal fade show" id="modal-03" tabindex="-1" role="dialog" aria-labelledby="modal-03" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<i class="fa fa-check-circle" aria-hidden="true"></i>
				<p>تمت الإضافة إلى سلة المشتريات بنجاح</p>
				<p>المبلغ الإجمالي 100 جنية</p>
				<button type="submit" class="btn btn-main">التالي</button>

			</div>
		</div>
	</div>
</div>


<div class="modal fade show offer-modal" id="modal-04" tabindex="-1" role="dialog" aria-labelledby="modal-04"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="offers-list">
					<div class="offer-item">
						<div class="offer-img">
							<img src="assets/images/offer-01.png" alt="">
						</div>
						<div class="offer-content">
							<h4 class="offer-title">عرض العيله كومبو لارج</h4>
							<p class="offer-info">ساندوتش دجاج بالكاري + نص فرخه مشوية + 4 فتة شاورما + 2 طبق رز + سلطة + لتر كولا +
								صوص باربيكيو</p>
						</div>
						<p class="offer-price">250 جنية </p>
					</div>
					<div class="offer-item">
						<div class="offer-img">
							<img src="assets/images/offer-01.png" alt="">
						</div>
						<div class="offer-content">
							<h4 class="offer-title">عرض العيله كومبو لارج</h4>
							<p class="offer-info">ساندوتش دجاج بالكاري + نص فرخه مشوية + 4 فتة شاورما + 2 طبق رز + سلطة + لتر كولا +
								صوص باربيكيو</p>
						</div>
						<p class="offer-price">250 جنية </p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<div class="modal fade show modal-xl" id="modal-05" tabindex="-1" role="dialog" aria-labelledby="modal-05"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="offers-list">
					<div class="product-view">


						<div class="product-content">
							<div class="offer-img">
								<img src="assets/images/offer-01.png" alt="">
							</div>
							<div class="product-options">
								<h4 class="offer-title">ساندوتش شاورما يقدم مع خبز سوري وثومية</h4>
								<label class="control control--radio">لارج
									<span>(50 ج.م)</span>
									<input type="radio" name="size" />
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">إكس لارج
									<span>(70 ج.م)</span>
									<input type="radio" name="size" />
									<div class="control__indicator"></div>
								</label>
							</div>
						</div>




						<div class="product-qty">
							<div class="qty-number">
								<button id="minus">-</button>
								<input type="text" name="" value="1" id="value">
								<button id="plus">+</button>
							</div>
							<p class="offer-price">250 جنية </p>
						</div>

					</div>
					<div class="product-addons">
						<div class="addons-list">
							<label class="control control--checkbox">جبنة موتزريلا
								<span>(20 ج.م)</span>

								<input type="checkbox">
								<div class="control__indicator"></div>
							</label>

							<label class="control control--checkbox">عيش مقرمش
								<span>(15 ج.م)</span>
								<input type="checkbox">
								<div class="control__indicator"></div>
							</label>

							<label class="control control--checkbox">سلطة
								<span>(12 ج.م)</span>

								<input type="checkbox">
								<div class="control__indicator"></div>
							</label>

							<label class="control control--checkbox">طحينة
								<span>(10 ج.م)</span>

								<input type="checkbox">
								<div class="control__indicator"></div>
							</label>

						</div>

						<div class="addons-price">
							<p>250 جنية </p>
						</div>



					</div>
					<div class="">
						<p>إجمالي المبلغ 100 جنية</p>
						<button class="brn btn-main">أضف إلى السلة</button>

					</div>



				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade show modal-xl" id="modal-06" tabindex="-1" role="dialog" aria-labelledby="modal-06"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="digit-otp">
					<h4>تم إرسال رمز التأكيد إلي هاتفك</h4>
					<p class="otp-text">من فضلك قم بإدخال رمز التأكيد المكون من 4 أرقام </p>
					<form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
						<label for="">رمز التأكيد</label>
						<div class="digit-items">

							<div class="digit-item">
								<input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
							</div>
							<div class="digit-item">
								<input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
							</div>
							<div class="digit-item">
								<input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
							</div>
							<div class="digit-item">
								<input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
							</div>

						</div>

						<!-- <input class="digit-item" type="text" id="digit-1" name="digit-1" data-next="digit-2" />
					<input class="digit-item" type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
					<input class="digit-item" type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
					<input class="digit-item" type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" /> -->
						<div class="digit-resend">
							<a class="otp-resend" href="#">إعادة إرسال رمز التأكيد مرة أخري</a>
							<span>من فضلك إنتظر 45 ثانية</span>
						</div>
					</form>
					<div class="otp-btn">
						<button type="submit" class="btn btn-main">التالي</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade show modal-xl" id="modal-07" tabindex="-1" role="dialog" aria-labelledby="modal-07"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="otp-done">
					<h4>تم إرسال رمز التأكيد إلي هاتفك</h4>
					<p class="otp-text">من فضلك قم بإدخال رمز التأكيد المكون من 4 أرقام </p>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="modal fade show modal-xl" id="modal-08" tabindex="-1" role="dialog" aria-labelledby="modal-08"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<form method="POST" class="address-form">
					<div class="row">

						<div class="col-md-12">
							<div class="form-group">
								<label for="name">المحافظة / المدينة</label>
								<input type="text" class="form-control">
							</div>

							<div class="form-group">
								<label for="name">المنطقة</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name">الشارع</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="name">رقم العقار </label>
								<input type="text" class="form-control">
							</div>

						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="name">المحافظة / المدينة</label>
								<input type="text" class="form-control">
							</div>
						</div>



					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-main">حفظ العنوان</button>

					</div>







					
				</form>


			</div>
		</div>
	</div>
</div>


<div class="modal fade show modal-xl" id="modal-09" tabindex="-1" role="dialog" aria-labelledby="modal-09"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<form method="POST" class="credit-form">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="name">Credit Card Holder Name</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="name">Visa Card Name</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="name">Expiration Date</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group">
								<label for="name">CVV</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-main">حفظ العنوان</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}