{% extends "layout.njk" %}

{% block content %}


<div class="container">

	<div id="pro-wizard">
		<ol class="step-indicator">
			<li class="active">
				<div class="caption hidden-xs hidden-sm">
					عنوان الشحن
				</div>
				<div class="step">1</div>
	
			</li>
			<li class="">
				<div class="caption hidden-xs hidden-sm">
					خيارات الدفع
				</div>
				<div class="step">2</div>

			</li>
			<li class="">
				<div class="caption hidden-xs hidden-sm">
					تم الطلب بنجاح
				</div>
				<div class="step">3</div>
	
			</li>
		</ol>
		<div class="step-content">


			<div class="container">
				<div class="row">
					<div class="col-md-6">
					<div class="payment-tabs">
						<ul class="nav nav-tabs " id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">بطاقة إئتمان</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">محفظتك</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">كاش</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<label class="control control--radio">بطاقة الدفع 1
									<span>(452*******23)</span>
									<input type="radio" name="card" checked="checked"/>
									<div class="control__indicator"></div>
								</label>
								<label class="control control--radio">بطاقة الدفع 1
									<span>(452*******23)</span>
									<input type="radio" name="card" checked="checked"/>
									<div class="control__indicator"></div>
								</label>
				
							
							</div>
							<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
								<div class="wallet-method">
									<span >يوجد في محفظتك مبلغ</span>
									<span >(350 جنية)</span>


								</div>
							
							</div>
							<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
						</div>
					</div>



					</div>
					<div class="col-md-6">
						<div class="order-summary">
							<ul class="summary-list">
								<li>
									<span class="summary-name">مجموع الطلبات</span>
									<span class="summary-cost">240 ج.م</span>
								</li>
								<li>
									<span class="summary-name">رسوم التوصيل</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
								<li>
									<span class="summary-name">كود الخصم</span>
									<span class="summary-cost">12 ج.م</span>
								</li>
				
							
							</ul>
							<div class="order-total">
								<span class="total-name">إجمالي المبلغ</span>
								<span class="total-cost">250 ج.م</span>

							</div>
							<form class="coupon-form" method="post">
								<label for="name">أدخل كود الخصم</label> 
								<div class="form-group">
								<input class="form-control" type="text">
								<input class="btn" type="button" value="تفعيل">
								</div>
							</form>
							<button type="submit" class="btn btn-main">التالي</button>
							<button type="submit" class="btn btn-main">العودة للصفحة الرئيسية</button>
						</div>
					</div>
				</div>

			</div>


			
		</div>
		<!---->
		<!---->
		<!-- <div class="step-wrapper active"><button disabled="disabled" class="btn btn-primary">Back</button> <button
				class="btn btn-primary">Next</button>
		</div>
		<div class="step-wrapper"><button disabled="disabled" class="btn btn-primary">Back</button> <button
				class="btn btn-primary">Next</button>
		</div>
		<div class="step-wrapper"><button disabled="disabled" class="btn btn-primary">Back</button> <button
				class="btn btn-primary">Next</button>
		</div> -->
	</div>
</div>







<!-- 
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div> -->
{% endblock %}