{% extends "layout.njk" %}

{% block content %}



{% include "store/profile.njk" %}

{% include "store/search.njk" %}


<div class="container">
	<ul class="nav nav-pills  store-tab" id="pills-tab" role="tablist">
		<li class="nav-item"> 
			<a class="nav-link active" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab"
				aria-controls="pills-product" aria-selected="true">المنتجات</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab"
				aria-controls="pills-about" aria-selected="false">عن المطعم/ المحل</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " id="pills-rating-tab" data-toggle="pill" href="#pills-rating" role="tab"
				aria-controls="pills-rating" aria-selected="false">التقييمات وآراء العملاء</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " id="pills-offers-tab" data-toggle="pill" href="#pills-offers" role="tab"
				aria-controls="pills-offers" aria-selected="false">العروض</a>
		</li>
	</ul>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">

			{% include "store/products.njk" %}

		</div>
		<div class="tab-pane fade" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">

			{% include "store/about.njk" %}

		</div>
		<div class="tab-pane fade " id="pills-rating" role="tabpanel" aria-labelledby="pills-rating-tab">
		
			{% include "store/rating.njk" %}

		</div>
		<div class="tab-pane fade " id="pills-offers" role="tabpanel" aria-labelledby="pills-offers-tab">

			{% include "store/offers.njk" %}

		</div>
	</div>
</div>

{% endblock %}