 <!-- footer.njk -->
<div id="footer" class="site-footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
						<ul class="menu-links">
							<li><a href="">معلومات عنا</a></li>
							<li><a href="">الوظائف</a></li>
							<li><a href="">العروض</a></li>
						</ul>
				</div>
				<div class="col-sm-4">
						<ul class="menu-links">
							<li><a href="">الشروط والأحكام</a></li>
							<li><a href="">سياسة الخصوصية</a></li>
							<li><a href="">ابقى علي تواصل</a></li>
						</ul>
				</div>
				<div class="col-sm-3">
					<div class="social-widget">
						<h4>تابعنا على</h4>
						<ul class="social-links">
							<li><a class="facebook" href=""><i class="fa fa-facebook"></i></a></li>
							<li><a class="twitter" href=""><i class="fa fa-twitter"></i></a></li>
							<li><a class="youtube" href=""><i class="fa fa-youtube"></i></a></li>
						</ul>
						<a class="email" href="">sonqr-mail@gmail.com</a>
					</div>
				</div>
				<div class="col-sm-2">
					<img src="assets/images/logo-footer.png" alt="">

				</div>

			</div>
		</div>
	</div>

</div> 