.jobs-page{
	padding:30px 0;
}
.jobs-filter {
	padding: 30px;
	border-radius: 15px;
	border: 1px solid #ADB5BD;

	.filter-list {
		margin-bottom: 30px;
		h4{
			color: #FFC300;
			font-weight: 300;
		}
		.control {
			font-size: 16px;
			width: 48%;
			display: inline-block;

			.control__indicator {
				height: 24px;
				width: 24px;

				&:after {
					left: 9px;
					top: 5px;
					width: 5px;
					height: 9px;
				}
			}
		}
	}

	.btn-main{
		width: 100%;
	}

}



.job-item{
	position: relative;
	padding:20px 30px;
	border:1px solid #ADB5BD;
	border-radius: 24px;
	margin-bottom: 30px;
	h4{
		font-weight: 300;
		color: #003566;
	}
	p{
		color: #000814;
	}
	.job-date{
		position: absolute;
		top:30px;
		left:30px;
		color: #ADB5BD;
		.post-on{
			margin-left: 15px;
		}
		.post-day{

		}
	}
}

