	<div class="stores-list">
	<div class="container" >
		<div class="row">
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>
			<div class="col w-20"> 
				<div class="store-item">
					<div class="store-img">
						<img src="assets/images/store-01.png" alt="">
					</div>
					<div class="store-info">
						<h5>سي فود</h5>
						<p>مطعم</p>
					</div>
				</div>
			</div>



		</div>
	</div>
	</div>